.formGroup{
    margin: 10px;
    padding: 10px;
}
.btn {
    background: rgb(31, 162, 255);
    padding: 10px 20px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    border: none;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    cursor: pointer;
}
.field{
    padding: 10px !important;
    border-radius: 5px;
    border: none;
}
.btn:disabled,
btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}